/* This is the animation that turns my title from "invisible" to "visible" (black to white). 
   This animation also changes the font size from 60px to 80px. Under the first key farame 
   of every one of my animations are the -webkit-, -ms-, and -moz- variations which insure 
   that my animation will be able to be viewed by different types of browsers. */
@keyframes fade-in-title {
  from {
    opacity: 0%;
    font-size: 60px;
  }
  to {
    color: whitesmoke;
    opacity: 100%;
    font-size: 80px;
  }
}

@-webkit-keyframes fade-in-title {
  from {
    opacity: 0%;
    font-size: 60px;
  }
  to {
    color: whitesmoke;
    opacity: 100%;
    font-size: 80px;
  }
}

/* This is the animation that turns my subtitle from "invisible" to "visible" (black to white). 
   This animation also changes the font size from 8px to 15px. */
@keyframes fade-in {
  from {
    opacity: 0%;
    font-size: 8px;
  }
  to {
    color: whitesmoke;
    opacity: 100%;
    font-size: 15px;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0%;
    font-size: 8px;
  }
  to {
    color: whitesmoke;
    opacity: 100%;
    font-size: 15px;
  }
}

/* This is the animation that turns my subtitle from "invisible" to "visible" (black to white). 
   This animation also changes the font size from 8px to 20px. */
@keyframes fade-in-nav {
  from {
    opacity: 0%;
    font-size: 8px;
  }
  110% {
    color: whitesmoke;
    opacity: 100%;
    font-size: 15px;
  }
}

@-webkit-keyframes fade-in-nav {
  from {
    opacity: 0%;
    font-size: 8px;
  }
  110% {
    color: whitesmoke;
    opacity: 100%;
    font-size: 15px;
  }
}

/* Styling my titles/headers for my web pages. */
header {
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 21%;
  text-align: center;
  color: whitesmoke;
  animation: fade-in-title 6s 1;
  -webkit-animation: fade-in-title 6s 1;
  -ms-animation: fade-in-title 6s 1;
  -moz-animation: fade-in-title 6s 1;
}

/* Styling my "Main Page/Home" subtitle. */
main {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0%;
  text-align: center;
  color: whitesmoke;
  animation: fade-in 6s 1;
  -webkit-animation: fade-in 6s 1;
  -ms-animation: fade-in 6s 1;
  -moz-animation: fade-in 6s 1;
}

/* Styling my navigation menu for my web pages. */
nav {
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  padding-top: 10px;
  border-right: 1px solid whitesmoke;
  animation: fade-in-nav 6s 1;
  -webkit-animation: fade-in-nav 6s 1;
  -ms-animation: fade-in-nav 6s 1;
  -moz-animation: fade-in-nav 6s 1;
}

/* Styling my nav button 1 on my web pages. */
#nav-btn {
  height: 50px;
  width: 50px;
  float: right;
  display: block;
  cursor: pointer;
  color: whitesmoke;
  text-decoration: none;
  animation: fade-in-nav 6s 1;
  -webkit-animation: fade-in-nav 6s 1;
  -ms-animation: fade-in-nav 6s 1;
  -moz-animation: fade-in-nav 6s 1;
}

/* Styling my easter egg button. */
.easter-egg {
  font-size: 20px;
  cursor: pointer;
  color: whitesmoke;
  text-decoration: none;
  animation: fade-in-nav 6s 1;
  -webkit-animation: fade-in-nav 6s 1;
  -ms-animation: fade-in-nav 6s 1;
  -moz-animation: fade-in-nav 6s 1;
}

.nav-divider {
  font-size: 20px;
  cursor: pointer;
  color: whitesmoke;
  text-decoration: none;
  animation: fade-in-nav 6s 1;
  -webkit-animation: fade-in-nav 6s 1;
  -ms-animation: fade-in-nav 6s 1;
  -moz-animation: fade-in-nav 6s 1;
}

/* Styling my "Top" button on my gallery page. */
.top-button {
  font-size: 20px;
  cursor: pointer;
  color: whitesmoke;
  text-decoration: none;
  animation: fade-in-nav 6s 1;
  -webkit-animation: fade-in-nav 6s 1;
  -ms-animation: fade-in-nav 6s 1;
  -moz-animation: fade-in-nav 6s 1;
}

/* Styling the navigation menu for my transition. */
.un a {
  font-size: 20px;
  cursor: pointer;
  color: whitesmoke;
  text-decoration: none;
  position: relative;
}

/* When you hover over one of my navigation elements and underline will apear form the left to the right. 
   This class determines what the underline will do when I hover over. */
.un a:after {
  content: '';
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: whitesmoke;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Whilst hovering the width will be set to 100%. */
.un a:hover:after, .un a:focus:after {
  width: 100%;
}

/* A block is set around my text making the transaition possible. */
.un a.block {
  display: block;
  padding: 0.5em;
}

/* When hovering over the block the background colour of the underline changes to whitesmoke. */
.un a.block:hover, .un a:hover:after {
  background: whitesmoke;
}
/*# sourceMappingURL=style.css.map */