@import "components/animation";
@import "components/navigation";

body {
    width: 100%;
    height: 100%;
    margin: unset;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("./images/rainbow-mill-gardens.jpg");
    background-size: cover;
    background-attachment: fixed;
}

/* Styling my titles/headers for my web pages. */
header{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 21%;
    text-align: center;
    color: whitesmoke;
    animation: fade-in-title 6s 1;
    -webkit-animation: fade-in-title 6s 1;
    -ms-animation: fade-in-title 6s 1;
    -moz-animation: fade-in-title 6s 1;
}
/* Styling my "Main Page/Home" subtitle. */
main{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0%;
    text-align: center;
    color: whitesmoke;
    animation: fade-in 6s 1;
    -webkit-animation: fade-in 6s 1;
    -ms-animation: fade-in 6s 1;
    -moz-animation: fade-in 6s 1;
}
/* Styling my navigation menu for my web pages. */
.title {
    margin-bottom: 10px;
}
/* Styling my nav button 1 on my web pages. */
#nav-btn{
    height: 50px;
    width: 50px;
    float: right;
    display: block;
    cursor: pointer;
    color: whitesmoke;
    text-decoration: none;
    animation: fade-in-nav 6s 1;
    -webkit-animation: fade-in-nav 6s 1;
    -ms-animation: fade-in-nav 6s 1;
    -moz-animation: fade-in-nav 6s 1;
}

.nav-divider {
    font-size: 20px;
    cursor: pointer;
    color: whitesmoke;
    text-decoration: none;
    animation: fade-in-nav 6s 1;
    -webkit-animation: fade-in-nav 6s 1;
    -ms-animation: fade-in-nav 6s 1;
    -moz-animation: fade-in-nav 6s 1;
}
/* Styling my "Top" button on my gallery page. */
.top-button {
    font-size: 20px;
    cursor: pointer;
    color: whitesmoke;
    text-decoration: none;
    animation: fade-in-nav 6s 1;
    -webkit-animation: fade-in-nav 6s 1;
    -ms-animation: fade-in-nav 6s 1;
    -moz-animation: fade-in-nav 6s 1;
}

* {box-sizing: border-box}

/* Styling the slideshow containers on my website. */
.slideshow-container {
    padding-top: 8%;
    max-width: 1000px;
    position: relative;
    margin: auto;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

/* Hiding the images in my slideshow by default */
.mySLides {
    display: none;
}

/* Next and Previous buttons for my slideshow */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Styling the caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12xp;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Styling the slide indicator text */
.slideIndicator {
    padding-top: 17%;
    padding-left: 2%;
    color: #f2f2f2;
    font-size: 12px;
    position: absolute;
    top: 0;
}

